<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Libre+Baskerville|Slabo+27px" rel="stylesheet">
	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="jquery-ui/jquery-ui.js"></script>
	<link rel="stylesheet" href="jquery-ui/jquery-ui.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Libre+Baskerville|Slabo+27px" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/AboutUs.css">
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/">Medicento</a>
    </li>
  </ul>
</nav>
	<div class="container">
		<div class="jumbotron bg-dark" style="text-align: center;">
  			<h1>Meet Our Team</h1> 
	  		<h5 class="info">Teamwork is the ability to work together toward a common vision. The ability to direct individual accomplishments toward organizational objectives. It is the fuel that allows common people to attain uncommon results.</h5> 
		</div>
		<div class="row">
			<div class="col-md-5 card" style="margin-left: 45px;">
				<div class="row">
				<div class="col-md-6" style="padding: 10%;">	
				<img src="images/arpan.jpg" class="image img-thumbnail rounded-circle" />
					</div>
					<div class="col-md-6">		
					<div class="list">
						<li><h4>Arpan Debasis</h4></li>
						<li><h5>CEO and Founder</h5></li><hr>
						<li><p>Favourite Typeface: Playfair Display</p></li>
						<li><a href="#" class="fa fa-linkedin"></a></li>
					</div>
				</div>
				</div>
			</div>
			<div class="col-md-1">
			</div>
			<div class="col-md-5 card" style="margin-left: 45px;">
				<div class="row">
				<div class="col-md-6" style="padding: 10%;">	
				<img src="" class="image img-thumbnail rounded-circle" />
					</div>
					<div class="col-md-6">		
					<div class="list">
						<li><h4></h4></li>
						<li><h5>Co-Founder Product & Marketing</h5></li><hr>
						<li><p>Favourite Typeface: Playfair Display</p></li>
						<li><a href="#" class="fa fa-linkedin"></a></li>
					</div>
				</div>
				</div>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-md-3">
				<button class="btn btn-outline-dark" id="technology"><img src="technology.png" width="15%">Technology</button>
			</div>
			<div class="col-md-3">
			<button class="btn btn-outline-danger" id="marketing"><img src="marketing.png" width="15%">Marketing</button>
			</div><div class="col-md-3">
				<button class="btn btn-outline-primary" id="designing"><img src="design.png" width="15%">Design</button>
			</div>
			<div class="col-md-3">
				<button class="btn btn-outline-success" id="operation"><img src="Operation.png" width="15%">Operations</button>
			</div>
		</div>
	</div>
	<div class="hidden" id="operationPanel">
		<div class="tree container" style="margin-left: auto">
			<ul>
				<li class="li">
							<div class="a"><h3 class="buttonColor">Operation Team</h3></div>
					<ul>
						<li class="li">
							<div class="a">
								<img src="images/rohit.jpg" class="pic">
									<div class="text">
										<h5>ROHIT SHASTRI</h5>
										<p>Front End Developer</p>
									</div>
							</div>
							<ul>
								<li class="li">
									<div class="a">
										<img src="" class="pic">
										<div class="text">
											<h5>Lokesh Kumar</h5>
											<p>MSRIT Banglore</p>
										</div>
									</div>
								</li>
								<li class="li">
									<div class="a">
											<img src="" class="pic">
											<div class="text">
												<h5>KETAN YADAV</h5>
												<p>BMS-IT Banglore</p>
											</div>
									</div>
								</li>
								<li class="li">
									<div class="a">
											<img src="" class="pic">
											<div class="text">
												<h5>Aquil Haider</h5>
												<p>MSRIT Banglore</p>
											</div>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</li>	
			</ul>
		</div>	
	</div>	
	<div class="container hidden" id="designingPanel">
		<div class="tree" style="margin-left:10% ; margin-right: 3%" >
			<ul>
				<li class="li">
							<div class="a"><h3 class="buttonColor">Designing Team</h3></div>
					<ul>
						<li class="li">
							<div class="a">
								<img src="images/1(7).jpg" class="pic">
									<div class="text">
										<h5>Dimple Bhardwaj</h5>
										<p>Creative Head</p>
									</div>
							</div>
							<ul>
								<li class="li">
									<div class="a">
										<img src="" class="pic">
										<div class="text">
											<h5>Tushar</h5>
											<p>Design and Innovation Academy-Noida</p>
										</div>
									</div>
								</li>
								<li class="li">
									<div class="a">
											<img src="" class="pic">
											<div class="text">
												<h5>Vibhudh</h5>
												<p>Design and Innovation Academy-Noida</p>
											</div>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</li>	
			</ul>
		</div>
	</div>
	<div class="hidden" id="marketingPanel">
		<div class="container tree" style="margin-left: auto">
			<ul>
				<li class="li">
					<div class="a"><h3 class="buttonColor">Marketing Team</h3></div>
					<ul>
						<li class="li">
							<div class="a">
								<img src="images/1(7).jpg" class="pic">
									<div class="text">
										<h5>Rahul</h5>
										<p>Favourite Typeface: Playfair Display</p>
									</div>
							</div>
							<ul>
								<li class="li">
									<div class="a">
										<img src="" class="pic">
										<div class="text">
											<h5>Chris Regy</h5>
											<p>Delhi Technological University</p>
										</div>
									</div>
								</li>
								<li class="li">
									<div class="a">
											<img src="" class="pic">
											<div class="text">
												<h5>Darshan</h5>
												<p>Favourite Typeface: Apercu</p>
											</div>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</li>	
			</ul>
		</div>
	</div>
	<div class="hidden row" id="technologyPanel">
	    <div class="tree container" style="margin-left: auto">
	    	<ul>
	    		<li class="li">
					<div class="a"><h4 class="buttonColor">Technology Team</h4></div>
	    			<ul>
	    				<li class="li col-md-12">
	    					<div class="a">
	    						<img src="images/prashant.jpg" class="pic">
								<div class="text">
									<h5>Gitesh Shastri</h5>
									<p>Tech Head</p>
									<p>Delhi Technological University</p>
								</div>
	    					</div>
	    				</li>
	    			</ul>
	    				<div class="col-md-12">
	    					<div class="a col-md-4">
	    						<img src="images/gitesh.jpg" class="pic">
								<div class="text">
									<h5>Gitesh</h5>
									<p>Full Stack Developer</p>
									<p>Delhi Technological University</p>
								</div>
	    					</div>
	    					<div class="a col-md-4">
	    						<img src="" class="pic">
								<div class="text">
									<h5>Safdar</h5>
									<p>App/IOS Developer</p>
									<p>Jamia milia islamia</p>
								</div>
	    					</div>
	    						<div class="a col-md-4">
	    						<img src="" class="pic">
								<div class="text">
									<h5>Rahul Sage</h5>
									<p>Developer</p>
									<p>Delhi Technological University</p>
								</div>
	    					</div>
	    				</div>
	    				<div class="col-md-12">
	    					<div class="a col-md-4">
	    						<img src="images/vinay.jpg" class="pic">
								<div class="text">
									<h5>Vinay</h5>
									<p>Developer</p>
									<p>Delhi Technological University</p>
								</div>
	    					</div>
	    						<div class="a col-md-4">
	    						<img src="" class="pic">
								<div class="text">
									<h5>Gourav</h5>
									<p>Developer</p>
									<p>Delhi Technological University</p>
								</div>
	    					</div>
	    						<div class="a col-md-4">
	    						<img src="" class="pic">
								<div class="text">
									<h5>Nikhil</h5>
									<p>Developer</p>
									<p>Delhi Technological University</p>
								</div>
	    					</div>
	    				</div>
	    				<div class="col-md-12">
	    					<div class="a col-md-4">
	    						<img src=".jpg" class="pic">
								<div class="text">
									<h5>Prakhar Bansal</h5>
									<p>Full Stack Developer</p>
									<p>IIT Delhi</p>
								</div>
	    					</div>
	    					<div class="a col-md-4">
	    						<img src="" class="pic">
								<div class="text">
									<h5>Sriram</h5>
									<p>Web Developer</p>
									<p>NIT Delhi</p>
								</div>
	    					</div>
	    						<div class="a col-md-4">
	    						<img src="" class="pic">
								<div class="text">
									<h5>Abhishek</h5>
									<p>Developer</p>
									<p>BMSIT</p>
								</div>
	    					</div>
	    				</div>
	    				<div class="col-md-12">
	    					<div class="a col-md-4">
	    						<img src=".jpg" class="pic">
								<div class="text">
									<h5>Anup Chandra</h5>
									<p>Developer</p>
									<p>BMSIT</p>
								</div>
	    					</div>
	    					<div class="a col-md-4">
	    						<img src="" class="pic">
								<div class="text">
									<h5>Daaniyal</h5>
									<p>Developer</p>
									<p>BMSIT</p>
								</div>
	    					</div>
	    						<div class="a col-md-4">
	    						<img src="" class="pic">
								<div class="text">
									<h5>Archana Kv</h5>
									<p>Developer</p>
									<p>UVCE Banglore</p>
								</div>
	    					</div>
	    				</div>
	    				<div class="col-md-12">
	    					<div class="a col-md-4">
	    						<img src=".jpg" class="pic">
								<div class="text">
									<h5>Deekshita</h5>
									<p>Developer</p>
									<p>UVCE Banglore</p>
								</div>
	    					</div>
	    				</div>
	    				
	    				</li>
	    			</ul>
	    	</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	<script type="text/javascript">
		$(document).ready(function(){
    		$("#operation").click(function(){
        		$("#operationPanel").show();
        		$("#designingPanel").hide();
        		$("#marketingPanel").hide();
        		$("#technologyPanel").hide();
    		});
    		$("#designing").click(function(){
        		$("#operationPanel").hide();
        		$("#designingPanel").show();
        		$("#marketingPanel").hide();
        		$("#technologyPanel").hide();
    		});
    		$("#marketing").click(function(){
        		$("#operationPanel").hide();
        		$("#designingPanel").hide();
        		$("#marketingPanel").show();
        		$("#technologyPanel").hide();
    		});
    		$("#technology").click(function(){
        		$("#operationPanel").hide();
        		$("#designingPanel").hide();
        		$("#marketingPanel").hide();
        		$("#technologyPanel").show();
    		});
		});
	</script>
</body>
</html>