<div class="header">
    <div class="for-sticky">
      <!--LOGO-->
      <div class="col-md-3 col-xs-6 logo">
        <a href="/"><img alt="logo" style="margin-left: -26px;height: 60px;" src="images/resize-logo.png"></a>
      </div>
      <!--/.LOGO END-->
      <div class="col-md-4 col-xs-6">
        <p>
          <span class="fa fa-phone"></span> 080-41131583, +91-8458008190 <br/>
          <span class="fa fa-envelope"></span> contactus@medicento.com
        </p>
      </div>
      <div class="col-md-2 col-xs-6">
        <a class="btn btn-danger" href="/pharmacy-registration" style="margin-top: 5px;height: 45px;width:150px;background: #ff0000;padding: 2px;">Join Our <br/> Pharmacy Network</a>
      </div>
      <div class="col-md-2 col-xs-6">
          <a class="btn btn-danger" href="/distributor-registration" style="margin-top: 5px;height: 45px;width:150px;background: #ff0000;padding: 2px;">Sell as <br/> Distributor</a>
      </div>
    </div>
    <div class="menu-wrap">
      <nav class="menu">
        <div class="menu-list">
          <a data-scroll="" href="#home" class="active">
            <span>Home</span>
          </a>
          <a target="blank" href="/about-us">
            <span>About Us</span>
          </a>
       <!--   <a data-scroll="" href="#work">
            <span>Work</span>
          </a>  -->
           <a data-scroll="" href="#services">
            <span>Services</span>
          </a>
          <a data-scroll="" href="#employement">
            <span>Health & Things</span>
          </a>
          <a data-scroll="" href="#skill">
            <span>Achievements</span>
          </a>
          <a data-scroll="" href="#education">
            <span>Blogs</span>
          </a>
          <a data-scroll="" href="#testimonial">
            <span>Testimonial</span>
          </a>
          <a data-scroll="" href="#blog">
            <span>Team</span>
          </a>
          <a data-scroll="" href="#contact">
            <span>Contact</span>
          </a>
          <a target="_blank" href="/career">
            <span>Career</span>
          </a>
        </div>
      </nav>
      <button class="close-button" id="close-button">Close Menu</button>
    </div>
    <button class="menu-button" id="open-button">
      <span></span>
      <span></span>
      <span></span>
    </button><!--/.for-sticky-->
  </div>
  