<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111686267-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-111686267-1');
    </script>
    <meta charset="utf-8">
    <title>medicento.</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="medicento - your medicine channel" name="description">
    <meta content="Gitesh Shastri" name="author">
    <!--Fav-->
    <link href="images/logo.ico" rel="shortcut icon">
    
    <!--styles-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    
    <!--fonts google-->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript">
   
      function openSearch() {
          document.getElementById("myOverlay").style.display = "block";
      }

      function closeSearch() {
          document.getElementById("myOverlay").style.display = "none";
      }

    </script>
    <style type="text/css">
      .prettyline {
        height: 5px;
        border-top: 0;
        background: #c4e17f;
        border-radius: 5px;
        background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

*/ Color line credit to ninjamonk: [[http://bootsnipp.com/snippets/featured/mix-amp-match-login]]
  .fa:hover {
    opacity: 0.7;
}

    </style>
    
    <!--[if lt IE 9]>
       <script type="text/javascript" src="js/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>

      <!-- <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '666109423835797',
            xfbml      : true,
            version    : 'v3.3'
          });
          FB.AppEvents.logPageView();
        };
      
        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "https://connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
      </script> -->
    <!--PRELOADER-->
    <div id="preloader">
      <div id="status">
        <img alt="logo" src="images/logo.jpeg">
      </div>
    </div>
    <!--/.PRELOADER END-->

    <!--HEADER -->
    <% include header %>
    <!--/.HEADER END-->
    
    <!-- <div class="fb-messengermessageus" 
    messenger_app_id="666109423835797" 
    page_id="786213198112710"
    color="blue"
    size="standard">
  </div> -->
  <!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '666109423835797',
      xfbml            : true,
      version          : 'v3.3'
    });
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="786213198112710">
</div>
    <!--CONTENT WRAP-->
    <div class="content-wrap">
      <!--CONTENT-->
      <div class="content">
        <!--HOME-->
        <section id="home">
          <div class="container">

              <video autoplay loop muted poster="screenshot.jpg" id="background">
                  <source src="images/Medicento.mp4" type="video/mp4">
              </video>

            <div class="row">
                <div class="wrap-hero-content">
                    <div class="hero-content">
                       <h1 style="font-size: 60px;"><b>medicento.</b></h1>
                      
                          <h4>your medicine channel</h4>                  
                          <div class="mouse-icon margin-20">
                              <div class="scroll"></div>
                            </div>
                       
                          <!--              <button  class="button button2" onclick="openSearch()">Know Your Medicine</button>
            -->      </div>
                </div>
             </div>
            </div>
        </section>

        <div id="myOverlay" class="overlay">
          <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
          <div class="overlay-content">
            <form method='post' action="/search">
             <input type="text" name="key" id="default" list="languages" placeholder="e.g. JavaScript">
              <datalist id="languages">
                <% pro.forEach(function(product) { %>
                  <option value="<%= product.medicine_name %>">
                  <% }) %>
              </datalist>
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
        </div>
        <!--/.HOME END-->

        <!--ABOUT-->
        <section id="about">
          
          <div class="col-md-12 col-sm-12 col-xs-12 white-col">
            <div class="row">
              <!--OWL CAROUSEL2-->
              <div class="owl-carousel2">
                <div class="col-md-12">
                <h3 class="title-small text-center">
                  <span>About Us</span>
                </h3>
                  <div class="wrap-about">
                    <div class="w-content">
                      <p class="head-about">
                        medicento is a health tech startup in pharmaceutical space building up a unified channel for seamless flow of pharmaceutical products using a data driven approach. We intend to change the healthcare ecosystem by introducing demand (pull based) flow of medicines rather than push based, thus optimizing Inventory, delivery model and minimizing expired products. Our smart AI based inventory management system would segregate products based on the demand of the market, thus decreasing stock in period and generating better revenues.
                      </p>
                    </div>
                  </div>
                </div>
              
               
              </div>
              <!--/.OWL CAROUSEL2 END-->
            </div>
          </div>
        </section>
        <!--/.ABOUT END-->

         <!--SERVICES-->
        <section class="grey-bg" id="services">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <i class="fa fa-users fa-4x" aria-hidden="true"></i>
                <h3 class="title-small">
                  <span>DISTRIBUTOR SERVICES</span>
                </h3>
               <!-- <p class="content-detail">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </p>-->
              </div>
              <div class="col-md-9 content-right">
                <div class="row">
                  <ul class="listing-item">
                    <li>
                      <div class="col-md-4 col-sm-4">
                        <i class="fa fa-yelp" aria-hidden="true"></i>
                        
                        <p class="head-sm">
                          ONE POINT SALE
                        </p>
                        <p class="text-grey">
                          Better connectivity with retailers, reach new sale windows. Retailers on-board are verified going through stringent checks. 
                        </p>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-4 col-sm-4">
                        <i class="fa fa-rocket" aria-hidden="true"></i>
                        
                        <p class="head-sm">
                          EFFICIENT LOGISTICS
                        </p>
                        <p class="text-grey">
                          Delivery as per-determined slots as per your convenience. 
                        </p>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-4 col-sm-4">
                        <i class="fa fa-cc-visa" aria-hidden="true"></i>
                        
                        <p class="head-sm">
                          EASY PAYMENTS

                        </p>
                        <p class="text-grey">
                          We facilitate cash, card and on credit payments.

                        </p>
                      </div>
                    </li>
                  </ul>

                  <ul class="listing-item">
                    <li>
                      <div class="col-md-4 col-sm-4">
                       <i class="fa fa-list-ul" aria-hidden="true"></i>

                        <p class="head-sm">
                          BETTER OPTIMIZATION OF INVENTORY
                        </p>
                        <p class="text-grey">
                            Our mapping platform matches your inventory as per the demand driven from the market.
                        </p>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <i class="fa fa-plus-square fa-4x" aria-hidden="true"></i>
                <h3 class="title-small">
                  <span>PHARMACY SERVICES</span>
                </h3>
             <!--   <p class="content-detail">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </p> -->
              </div>
              <div class="col-md-9 content-right">
                <div class="row">
                  <ul class="listing-item">
                    <li>
                      <div class="col-md-4 col-sm-4">
                        <i class="fa fa-opencart" aria-hidden="true"></i>

                        <p class="head-sm">
                          LIVE ORDERING SYSTEM
                        </p>
                        <p class="text-grey">
                          Get access to the real time live inventory of distributors. An easy and convenient way to order.
                        </p>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-4 col-sm-4">
                        <i class="fa fa-retweet" aria-hidden="true"></i>

                        <p class="head-sm">
                          EASY RETURNS
                        </p>
                        <p class="text-grey">
                          Simple returns and better management of expired medicines. 
                        </p>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-4 col-sm-4">
                        <i class="fa fa-inr" aria-hidden="true"></i>

                        <p class="head-sm">
                          HASSLE FREE PAYMENTS

                        </p>
                        <p class="text-grey">
                          Innovative payment solutions for all your purchases and settlements. 

                        </p>
                      </div>
                    </li>
                  </ul>

                  <ul class="listing-item">
                    <li>
                      <div class="col-md-4 col-sm-4">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>

                        <p class="head-sm">
                          LIVE TRACKING
                        </p>
                        <p class="text-grey">
                          Instant notifications about confirmation, pick-up and delivery. Get a secured two-way authenticated delivery of your products. 
                        </p>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
        </section>
        <!--/.SERVICES END-->


         <!--SKILLS-->
        <section class="white-bg" id="skill">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>Achievements</span>
                </h3>
                <p class="content-detail">
                  Believe in yourself. You are braver than you think, more talented than you know, and capable of more than you imagine.
                  There is only one thing that makes a dream impossible to achieve: the fear of failure.
                </p>

              </div>
              <div class="col-md-9 content-right">
                <!--SKILLST-->
                <div class="skillst">
                  <!-- <div class="skillbar" data-percent="780">
                    <div class="title head-sm">
                      Orders Processed
                    </div>
                    <div class="count-bar">
                      <div class="count"></div>
                    </div>
                  </div> -->
                  <div class="skillbar" data-percent="40%">
                    <div class="title head-sm">
                      Retailers Onboarded
                    </div>
                    <div class="count-bar">
                      <div class="count"></div>
                    </div>
                  </div>
                  <div class="skillbar" data-percent="80%">
                    <div class="title head-sm">
                      Distributors' Inventory Coverage
                    </div>
                    <div class="count-bar">
                      <div class="count"></div>
                    </div>
                  </div>
                  <div class="skillbar" data-percent="90%">
                    <div class="title head-sm">
                      Companies Served
                    </div>
                    <div class="count-bar">
                      <div class="count"></div>
                    </div>
                  </div>
                  <div class="skillbar" data-percent="40%">
                    <div class="title head-sm">
                      Product Coverage Per Retailer
                    </div>
                    <div class="count-bar">
                      <div class="count"></div>
                    </div>
                  </div>
                </div>
                <!--/.SKILLST END-->
              </div>
            </div>
          </div>
        </section>
        <!--/.SKILLS END-->

       

        <!--EMPLOYEMENT-->
        <section class="grey-bg" id="employement" style="display: none;">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>Be healty, stay tuned</span>
                </h3>
                <p class="content-detail">
                  Physical fitness is not only one of the most important keys to a healthy body, it is the basis of dynamic and creative intellectual activity.
                </p>
              </div>
              <div class="col-md-9 content-right">
                <div class="row">
                  <ul class="listing-item">
                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              <?php echo $arr['articles'][0]['title'];  ?>
                            </h2>
                            
                            <hr>
                            <div class="text-detail">
                              <p>
                                <?php echo $arr['articles'][0]['description'];  ?>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              <?php echo $arr['articles'][1]['title'];  ?>
                            </h2>
                            
                            <hr>
                            <div class="text-detail">
                              <p>
                                <?php echo $arr['articles'][1]['description'];  ?>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>  
                  <ul class="listing-item">
                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              <?php echo $arr['articles'][2]['title'];  ?>
                            </h2>
                            
                            <hr>
                            <div class="text-detail">
                              <p>
                                <?php echo $arr['articles'][2]['description'];  ?>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                               <?php echo $arr['articles'][3]['title'];  ?>
                            </h2>
                            
                            <hr>
                            <div class="text-detail">
                              <p>
                                 <?php echo $arr['articles'][3]['description'];  ?>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
        </section>
        <!--/.EMPLOYEMENT END-->
       <!--News-->
       <section class="white-bg" id="news">
          <div class="container">
              <div class="row">
                <div class="col-md-6">
                    <h3 class="title-small" style="margin-left:10%">
                        <span>News</span>
                      </h3>
                        <div class="box" style="margin-top:50px;
                        width: 100%;
                        background: url(https://images.yourstory.com/2019/01/NAPP4669.jpg?fm=png&auto=format);
                        background-repeat: no-repeat;
                        background-size: cover;
                        padding-top: 43%;
                        height: 383px;
                        border-radius: 20px;">
                          <div class="box-body" style="width:100%;background: #f9f7f7d9;padding: 20px;;">
                          <button style="float: right" class="btn btn-primary">
                            <i class="fa fa-angle-double-right"></i></button>  
                          <h5 class="box-title" style="    margin-top: -11px;
                          margin-bottom: 10px;"><a href="https://yourstory.com/2019/01/medicento-arpan-debasis-healthtech/">YourStory.com</a><br><span>Posted On 18th January 2019</span><br>Being chased out of hospitals didn't stop these founders from building a pharma supplies startup</h5>
                          <p style="
                          line-height: 13px;"
                          class="box-text">Orissa-based Arpan Debasis was a chemical engineering student at MSRIT, Bengaluru, when he lost his father to an illness. The year was 2011, and Arpan decided that he needed to help bring about change so no ....</p>
                        </div>
                      </div>
              </div>
              <div class="col-md-6">
                <div class="new-box">
                    <h3 class="title-small" style="margin-left:10%">
                        <span>Trending News</span>
                      </h3>
                      <div class="news" style="margin-top:30px;">
                        <div class="row">
                          <div class="col-md-2">
                            <img src="http://startupwithmeticulous.in/wp-content/uploads/2018/12/StartUp-With-Meticulous-New-Logo-T-02-1-e1544593319374.png" height="40px" width="100%" alt="">
                            <div style="
                            font-weight: 600;
                            font-size: 1.1rem;">14 May 2019</div>
                          </div>
                          <div class="col-md-10">
                              <p style="
                              line-height: 17px;
                              font-weight: 600;
                              font-size: 1.6rem;">Online Medicine Delivery Platform – Medicento™</p>
                              <p style="
                              line-height: 17px;">Medicento™ – A Unified channel founded by Arpan Debasis. Provides you an online easy and quick way of delivery of medicines from the nearest pharmacy by taking care of the whole supply chain .... </p>
                                             <button style="float: right" class="btn btn-primary">
                                              <i class="fa fa-angle-double-right"></i></button>  
                         
                        </div>
                          <div class="col-md-2">
                              <img src="http://www.stereodllc.com/wp-content/uploads/2018/06/3.jpg" width="100%" alt="">
                            </div>
                            <div class="col-md-10">
                                <p style="
                                line-height: 17px;
                                font-weight: 600;
                                font-size: 1.6rem;">Comming Soon .... </p>
                               </div>         
               
                              </div>
                      </div>
                </div>
              </div> 
            </div> 
          </div> 
       </section> 

        <!--EDUCATION-->
        <section class="white-bg" id="education">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>Blogs</span>
                </h3>
                <p class="content-detail">
                  Where the Internet is about availability of information, blogging is about making information creation available to anyone. Don’t focus on having a great blog. Focus on producing a blog that’s great for your readers.
                </p>
                <p>
               <button class="btn" href="#signup" data-toggle="modal" data-target=".bs-modal-sm">Post Your Own</button></p>  
              </div>
              <div class="col-md-9 content-right">
                <div class="row">
                  <ul class="listing-item">
                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              Atlantic Health
                            </h2>
                            <p class="job">
                              Atlantic magazine blog
                            </p>
                            
                            <hr>
                            <div class="text-detail">
                              <p>
                                This Atlantic magazine blog features counterintuitive research findings, emerging public health problems, questionable practices  and articles that explore medicine from historical, anthropological and sociological perspectives. It's easy to linger here, reading stories about accidental medical breakthroughs  and evolving medical theories. Readers can also find information about novel medical experiments and the struggle to eradicate Ebola.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                             Becker's Hospital Review
                            </h2>
                            <p class="job">
                             Becker's Hospital
                            </p>
                            <hr>
                            <div class="text-detail">
                              <p>
                                Aimed at industry leaders, Becker's Hospital Review External link  keeps pace with healthcare's ever-changing legal and business landscape. The Review diligently tracks infection control efforts   and makes note of emerging epidemics. The latest thinking on improving patient experience  and other measures of quality care can be found here as well.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <ul class="listing-item">
                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              Healthy Living
                            </h2>
                            <p class="job">
                              Huffington 
                            </p>
                            <hr>
                            <div class="text-detail">
                              <p>
                                This blog takes a pop culture approach to healthcare with a multitude of stories about healing foods and spices, new fitness regimes and healthy lifestyles. The blog culls healthcare information from television broadcasts, the Internet, medical experts, alternative health practitioners, wire services and an array of other sources. You'll find posts about the supplement industry, stress-busting foods and experimental diets .
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              Vital Signs
                            </h2>
                            <p class="job">
                              Modern Healthcare
                            </p>
                            <hr>
                            <div class="text-detail">
                              <p>
                                With straightforward prose and catchy headlines, this blog explores the political, financial and technological dimensions of the healthcare industry. It encompasses a range of thorny healthcare issues, from operating room inefficiencies and healthcare industry fraud to primers on what Medicare pays for equipment and fixes for meaningful use rules. The comings and goings of healthcare CEOs and other leaders are also reported.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
        </section>
        <!--/.EDUCATION END-->


         <!--WORK-
        <section class="grey-bg mar-tm-10" id="work">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>Work</span>
                </h3>
                <p class="content-detail">
                  Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. <br><br>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros.
                </p>
              </div>
              <div class="col-md-9 content-right">
                <!--PORTFOLIO IMAGE--
                <ul class="portfolio-image">
                  <li class="col-md-6">
                    <a href="images/bw-1.png"><img alt="image" src="images/bw-1.png">
                      <div class="decription-wrap">
                        <div class="image-bg">
                           <p class="desc">My Resume</p>
                        </div>

                      </div>
                    </a>
                  </li>
                  <li class="col-md-6">
                    <a href="images/bw-2.png"><img alt="image" src="images/bw-2.png">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            Pangirutan
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-md-6">
                    <a href="images/bw-3.png"><img alt="image" src="images/bw-3.png">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            Black Mug
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-md-6">
                    <a href="images/bw-4.png"><img alt="image" src="images/bw-4.png">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            Notebook Mockup
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-md-6">
                    <a href="images/bw-5.png"><img alt="image" src="images/bw-5.png">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            Presentation
                          </p>  
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-md-6">
                    <a href="images/bw-6.png"><img alt="image" src="images/bw-6.png">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            Letter Branding
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
                <!--/.PORTFOLIO IMAGE END-
              </div>
            </div>
          </div>
        </section>
        <!--/.WORK END-->


        <!--TESTIMONIAL-->
        <section id="testimonial">
          <div class="container">
            <div class="row wrap-testimonial">
              <div class="col-md-10 col-md-offset-1">
                <div class="owl-carousel">
                  <div class="list-testimonial">
                    <div class="content-testimonial">
                      <h3 class="testi">
                        “I have been using <b>medicento.</b> Pharmacy for my diabetic supplies for over a year now. The entire staff is so helpful, I am very happy to say that Physician Choice Pharmacy my pharmacy”
                      </h3>
                      <p class="people">
                       Tanveer Mehtab, Mehtab Pharmacy 
                      </p>
                    </div>
                  </div>
                  <div class="list-testimonial">
                    <div class="content-testimonial">
                      <h3 class="testi">
                        “ Always a pleasure dealing with <b>medicento.</b> Your customer service is unbeatable. You should be teaching ALL other companies how to handle their customers so well. ”
                      </h3>
                      <p class="people">
                        Amit Sharma, Sri Tirupati Medicals
                      </p>
                    </div>
                  </div>
                  <div class="list-testimonial">
                    <div class="content-testimonial">
                      <h3 class="testi">
                        “I really appreciate the care and consideration <b>medicento.</b> give to me and the medications. The quality of storage and handling of the meds is far superior to that of my local pharmacy. ”
                      </h3>
                      <p class="people">
                        Poonam Medicals, Poona Ram Chaudhry
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mask-testimonial"></div>
        </section>
        <!--/.TESTMONIAL END-->

        <!--BLOG-->
        <section class="grey-bg" id="blog">
          <div class="container">
                    <div class="row" style="border: 1px solid rgb(34,34,34);border-radius: 20px;">
                      <div class="col-md-4">
                          <img alt="blog-1" src="images/arpan.jpg" style="margin-top: 50px;"><br>
                        </div>
                        <div class="col-md-8" style="background: rgb(34,34,34);color: aliceblue;border-radius: 20px;">
                            <span>Arpan Debasis</span><br>    
                            <a href="https://www.linkedin.com/in/arpan-debasis-794a1050/" target="_blank">
                              <i class="fa fa-linkedin-square fa-2x" onMouseOver="this.style.opacity='0.7'" onMouseOut="this.style.opacity='1'" aria-hidden="true"></i>
                            </a>  
                            <h3 class="title">
                                CEO & Founder
                               </h3>
                             <p class="content-blog">
                               Arpan, the Lord Commander of castle black *our office*, makes sure everyone is fed well because men of the night's watch can't work without food. The word burning passion is personified by him, having knowledge of almost all the buzz going around the start-up world he gets a new business idea every now and then. If you are looking for someone to talk about the healthcare business, you can find him at Chai Point, yes, he hoggs on tea and since winter has already come to Westros only tea comes to rescue.
                             </p>
                        </div>
                      </div><br>
                      <a href="/about-us" class="btn btn-primary" style="margin-left:33%;">Say Hello To Our Team <i class="fa fa-chevron-circle-right"></i></a>   
                <!--/.GRID BLOG END-->
              </div>
        </section>
        <!--/.BLOG END-->

        <!--CONTACT-->
        <section id="contact" class="white-bg">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>Contact</span>
                </h3>
                <p class="content-detail">
                  There are four ways, and only four ways, in which we have contact with the world. We are evaluated and classified by these four contacts: what we do, how we look, what we say, and how we say it.
                </p>

              </div>
              <div class="col-md-9 content-right">
                <form action="/mail" method="post">
                  <div class="row">
                    <div class="col-md-6">
                        <input type="text" placeholder="Name" name="Name" required id="name"/>
                    </div>
                    <div class="col-md-6">
                        <input type="number" placeholder="Phone" name="Phone" required id="phone" onKeyPress="if(this.value.length==10) return false;" pattern="/^-?\d+\.?\d*$/"/>
                    </div>
                    <div class="col-md-6">
                        <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email" name="Email" required id="email"/>
                    </div>
                    <div class="group">
                      <input type="text" style="display: none;" placeholder="source" name="source" value="website-main-page" required />
                    </div>  
                    <div class="col-md-6" style="margin-top: 23px;">
                      <select name="category" id="category" style="width:100%">
                      <option value="" disabled selected>
                          Query Type
                      </option>            
                      <option value="Job_openings">
                          Job Openings
                      </option>    
                      <option value="Manufacturers">
                          Manufacturers
                      </option>    
                      <option value="Distributior">
                          Distributior
                      </option>    
                      <option value="Pharmacy_onboard">
                          Pharmacy Onboarding
                      </option>    
                      <option value="Internship">
                          Internship
                      </option>    
                      <option value="Complaints">
                          Complaints
                      </option>    
                      <option value="Logistics">
                          Logistics
                      </option>    
                      <option value="Media_PR">
                          Media & PR
                      </option>    
                      <option value="Business_partnerships">
                          Business Partnerships
                      </option>   
                      <option value="Miscellaneous">
                          Miscellaneous
                      </option> 
                        </select>      
                    </div>
                    <div class="col-md-12">Message
                      <textarea name="message" rows="3" id="message"></textarea>
                    </div>
                  </div>
                  <br />
                  <input id="sendMessage" type="submit" value="Send Message" />
                </form>
              </div>
            </div>
          </div>
        </section>
        <!--/.CONTACT END-->
        <!-- Load Facebook SDK for JavaScript -->
        

        <!--FOOTER-->
        <footer>
          <div class="footer-top">
            <ul class="socials">
              <li class="facebook">
                <a href="https://www.facebook.com/medicento" target="_blank" data-hover="Facebook" style="font-size: 20px"><i class="fa fa-facebook-f"></i> Facebook</a>
              </li>
              <li class="insta">
                <a href="https://www.instagram.com/medicento" target="_blank" data-hover="Instagram" style="font-size: 20px"><i class="fa fa-instagram"></i> Instagram</a>
              </li>
              <li class="twitter">
                <a href="https://www.twitter.com/medicento" target="_blank" data-hover="Twitter" style="font-size: 20px"><i class="fa fa-twitter"></i> Twitter</a>
              </li>
               <li class="WhatsApp">
                <a href="https://api.whatsapp.com/send?phones=919999228785" target="_blank"  data-hover="WhatsApp" style="font-size: 20px"><i class="fa fa-whatsapp"></i> WhatsApp</a>
              </li>
              <li class="linkedin">
                <a href="https://www.linkedin.com/company/13351575/" target="_blank" data-hover="LinkedIn" style="font-size: 20px"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
              </li>
            </ul>
          </div>

          <div class="footer-bottom">
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-xs-6" style="color:aliceblue">
                  <p>
                    Get To Know Us <br > 
                    <hr>
                    <a href="/about-us" class="footer-link">About Us</a><br>
                    <a href="/careers" class="footer-link">Careers</a><br>
                    <a href="/dealer-locator" class="footer-link">Dealer Locator</a>
                  </p>
                </div>
                <div class="col-md-3  col-xs-6" style="color:aliceblue">
                    <p>
                      Contact With Us <br > 
                      <hr>
                      <a href="https://www.facebook.com/medicento" class="footer-link"><i class="fa fa-facebook-f"></i> Facebook</a>
                      <a href="https://www.twitter.com/medicento" class="footer-link"><i class="fa fa-twitter"></i> Twitter</a><br />
                      <a href="https://www.instagram.com/medicento" class="footer-link"><i class="fa fa-instagram"></i> Instagram</a>
                      <a href="https://api.whatsapp.com/send?phones=919999228785" class="footer-link"><i class="fa fa-whatsapp"></i> WhatsApp</a>
                      <a href="https://www.linkedin.com/company/13351575/" class="footer-link"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
                    </p>
                  </div>
                  <div class="col-md-3 col-xs-6" style="color:aliceblue">
                      <p>
                        Make Money With Us <br > 
                        <hr>
                        <a href="/distributor-registration" class="footer-link">Sell On Medicento</a><br>
                        <a href="/pharmacy-registration" class="footer-link">Join as Pharmacy</a><br>
                        <a href="/pharmacy-login" class="footer-link">Pharmacy Login</a>
                      </p>
                    </div>
                    <div class="col-md-3  col-xs-6" style="color:aliceblue">
                      <p>
                        Let Us Help You <br>
                        <hr>
                        <a href="https://play.google.com/store/apps/details?id=com.developer.medicento.retailerapp" class="footer-link">Medicento Retailer App Download</a><br>
                        <a href="" class="footer-link">Contact Us</a>
                      </p>
                    </div>
                </div>
            </div>
          </div>
        </footer>
        <!--/.FOOTER-END-->

      <!--/.CONTENT END-->
      </div>
    <!--/.CONTENT-WRAP END-->
    </div>
    
<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content" style="min-width: 500px;margin-left: -70px;">
        <br>
        <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
              <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
              <li class=""><a href="#why" data-toggle="tab">Why?</a></li>
            </ul>
        </div>
      <div class="modal-body" style="padding: 35px;">
        <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in" id="why">
        <p>We need this information so that you can receive access to the site and its content. Rest assured your information will not be sold, traded, or given to anyone.</p>
        <p></p><br> Please contact <a mailto:href="JoeSixPack@Sixpacksrus.com"></a>JoeSixPack@Sixpacksrus.com</a> for any other inquiries.</p>
        </div>
        <div class="tab-pane fade active in" id="signin">
            <form class="form-horizontal">
            <fieldset>
            <!-- Sign In Form -->
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="userid">E-mail:</label>
              <div class="controls">
                <input required="" id="userid" name="email" type="text" class="form-control" placeholder="JoeSixpack" class="input-medium" required="">
              </div>
            </div>

            <!-- Password input-->
            <div class="control-group">
              <label class="control-label" for="passwordinput">Password:</label>
              <div class="controls">
                <input required="" id="passwordinput" name="passwordinput" class="form-control" type="password" placeholder="********" class="input-medium">
              </div>
            </div>

            <!-- Multiple Checkboxes (inline) -->

            <!-- Button -->
            <div class="control-group">
              <label class="control-label" for="signin"></label>
              <div class="controls">
                <button id="signin" name="signin" class="btn btn-success">Sign In</button>
              </div>
            </div>
            </fieldset>
            </form>
        </div>
        <div class="tab-pane fade" id="signup">
            <form class="form-horizontal">
            <fieldset>
            <!-- Sign Up Form -->
            <!-- Text input-->
            
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="userid">Name:</label>
              <div class="controls">
                <input id="userid" name="name" class="form-control" type="text" placeholder="JoeSixpack" class="input-large" required="">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="Email">Email:</label>
              <div class="controls">
                <input id="Email" name="Email" class="form-control" type="text" placeholder="JoeSixpack@sixpacksrus.com" class="input-large" required="">
              </div>
            </div>
            
            
            <!-- Password input-->
            <div class="control-group">
              <label class="control-label" for="password">Password:</label>
              <div class="controls">
                <input id="password" name="password" class="form-control" type="password" placeholder="********" class="input-large" required="">
                <em>1-8 Characters</em>
              </div>
            </div>
            
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="reenterpassword">Re-Enter Password:</label>
              <div class="controls">
                <input id="reenterpassword" class="form-control" name="reenterpassword" type="password" placeholder="********" class="input-large" required="">
              </div>
            </div>
            
            <!-- Multiple Radios (inline) -->
            
            
            <!-- Button -->
            <div class="control-group">
              <label class="control-label" for="confirmsignup"></label>
              <div class="controls">
                <button id="confirmsignup" name="confirmsignup" class="btn btn-success">Sign Up</button>
              </div>
            </div>
            </fieldset>
            </form>
      </div>
    </div>
      </div>
      <div class="modal-footer">
      <center>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </center>
      </div>
    </div>
  </div>
</div>
<% include scripts %>

</body>
</html>